<html>
  <head>
    <title>mobius-test</title>
    <link rel="stylesheet" href="style.css">
    <script src="angular.js"></script>
    <script src="lodash.js"></script>
  </head>
  <body ng-app="mobius-test">
    <container ng-controller="mtCtrl as $ctrl" class="container">
      <container class="title"><span>{{$ctrl.title}}</span></container>
      <container class="menu">
        <h5>Working Features</h5>
        <p>I do not have all unit tags and features working yet. Right now the following items do work: non-missile weapons, shields, hull, defense, target, long, AR.</p>
        <p>Critical Hits are being generated but do not effect the unit at this time.</p>
        <h5>Using this combat engine</h5>
        <p>To use this combat engine copy and paste fleet files into the Blue and Red Team text boxes and click "Import Fleet File" for each team.  Then click "Start Combat".  Currently the only results you get display on the right hand pane</p>
        <p>Please note that all attacks must appear as bracketed, [], items to be recognized by the parser.</p>
        <h5>Next Steps</h5>
        <p>My next steps are to get a better format for the combat results and to finish up critical hits.  After that I want to get missile-type weapons working and add any remaining tags to the UDL parser.
        <h5>Parsed UDL</h5>
        <pre>{{$ctrl.parsedExample | json}}</pre>
        <h5>Example Unit</h5>
        <pre>{{$ctrl.exampleUnit | json}}</pre>
        <h5>Example Group</h5>
        <pre>{{$ctrl.groups | json}}</pre>
      </container>
      <container class="content">
        <h3>Blue Team</h3>
        <div class="fleet-input">
          <button class="mobius-btn" ng-click="$ctrl.parseFleet('blue',$ctrl.blueFleetUdl)">Import Fleet File</button>
          <textarea class="mobius-tarea" ng-model="$ctrl.blueFleetUdl"></textarea>
        </div>
        <div class="unit-list">
          <unit-card ng-repeat="unit in $ctrl.groups.blue.units" unit="unit"></unit-card>
        </div>
        <h3>Red Team</h3>
        <div class="fleet-input">
          <button class="mobius-btn" ng-click="$ctrl.parseFleet('red',$ctrl.redFleetUdl)">Import Fleet File</button>
          <textarea class="mobius-tarea" ng-model="$ctrl.redFleetUdl"></textarea>
        </div>
        <div class="unit-list">
          <unit-card ng-repeat="unit in $ctrl.groups.red.units" unit="unit"></unit-card>
        </div>
        <div>
          <button class="mobius-btn" ng-click="$ctrl.startCombat()">Start Combat</button>
        </div>
        <div>
          <div ng-repeat="turn in $ctrl.combatLog.turns">
            <div ng-repeat"entry in turn.log" class="{{entry.klass}}">{{entry.text}}</div>
          </div>
        </div>
      </container>
      <container class="output">
        <div ng-repeat="entry in $ctrl.output" class="{{entry.klass}} log-entry-hover">{{entry.text}}</div>
      </container>
    </container>
    <script src="modules/mobius.helper/mobius.helper.js"></script>
    <script src="modules/mobius.helper/unitFactory.js"></script>
    <script src="modules/mobius.helper/udlParser.js"></script>
    <script src="modules/mobius.helper/fleetParser.js"></script>
    <script src="mobius-test.js"></script>
    <script src="components/unitCard.js"></script>
  </body>
</html>
