<html>
  <head>
    <title>mobius-test</title>
    <link rel="stylesheet" href="style.css">
    <script src="angular.js"></script>
    <script src="lodash.js"></script>
  </head>
  <body ng-app="mobius-test">
    <container ng-controller="mtCtrl as $ctrl" class="container">
      <container class="title"><h2>{{$ctrl.title}}</h2></container>
      <container class="menu">
        <h4>Example Unit</h4>
        <pre>{{$ctrl.exampleUnit | json}}</pre>
      </container>
      <container class="content">
        <h3>Blue Team</h3>
        <div class="unit-list">
          <unit-card ng-repeat="unit in $ctrl.groups.blue.units" unit="unit"></unit-card>
        </div>
        <h3>Red Team</h3>
        <div class="unit-list">
          <unit-card ng-repeat="unit in $ctrl.groups.red.units" unit="unit"></unit-card>
        </div>
        <div>
          <button ng-click="$ctrl.startCombat()">Start Combat</button>
        </div>
      </container>
      <container class="output">
        <div ng-repeat="entry in $ctrl.output" class="{{entry.klass}}">{{entry.text}}</div>
      </container>
    </container>
    <script src="mobius-test.js"></script>
    <script src="components/unitCard.js"></script>
  </body>
</html>
