body {
  background-color: dimgrey;
}

container {
  padding: 0px;
  margin: 0px;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkslategrey;
  border: 2px solid orange;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 500px auto;
  column-gap: 5px;
  row-gap: 5px;
}

.title {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  border: 3px solid darkslategrey;
  border-radius: 10px;
  padding: 10px 5px;
  background-color: darkgrey;
  align-self: center;
}

.title-text {
  padding-left: 10px;
  font-size: 20pt;
  font-variant: small-caps;
  font-weight: bolder;
}

.menu {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  border: 3px solid darkslategrey;
  border-radius: 10px;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: darkgrey;
}

.content {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  border: 3px solid darkslategrey;
  border-radius: 10px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: darkgrey;
}

.output {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  border: 3px solid darkslategrey;
  border-radius: 10px;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: darkgrey;
}

.results {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
  border: 3px solid darkslategrey;
  border-radius: 10px;
  padding: 5px;
  overflow-x: hidden;
  background-color: darkgrey;
}

.fleet-input > button {
  display: block;
  margin: 5px 0px;
}

.fleet-input > textarea {
  display: block;
  margin: 2px 0px;
  width: 100%;
  height: 100px;
}

.fleet-block {
  border: 2px solid darkslategrey;
  border-radius: 10px;
  margin: 5px 0px;
}

.fleet-title {
  font-size: 14pt;
  font-variant: small-caps;
  font-weight: normal;
  color: darkslategrey;
  font-weight: bold;
}

.mobius-btn {
  border: 2px solid orange;
  color: orange;
  background-color: dimgrey;
  padding: 8px;
  border-radius: 5px 10px;
}

.mobius-btn:hover {
  background-color: #454545;
}

.mobius-btn:focus {
  background-color: darkslategrey;
}

.mobius-btn:active {
  background-color: slategrey;
}

.mobius-tarea {
  background-color: dimgrey;
  color: orange;
  padding: 8px;
  border: 2px solid orange;
  border-radius: 10px;
  resize: none;
}

.mobius-tarea:hover {
  background-color: #454545;
}

.mobius-tarea:focus {
  background-color: darkslategrey;
}

.readme-title {
  display: block;
  margin: 5px;
  padding: 5px;
  background-color: darkslategrey;
  border-radius: 10px;
  font-size: 14pt;
  font-variant: small-caps;
  font-weight: normal;
  color: orange;
  font-weight: bold;
  text-align: center;
}

.unit-list {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: auto;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.unit-card {
  border: 2px solid orange;
  background-color: dimgrey;
  padding: 10px 20px;
  border-radius: 15px 30px;
  margin-right: 10px;
}

.unit-card-name {
  font-size: 14pt;
  color: orange;
}

.unit-card-info {
  font-size: 12pt;
  color: orange;
  margin: 2px;
}

.unit-card-components {
  list-style-type: none;
  margin: 0;
  margin-left: 10px;
  padding: 0;
}

.unit-card-container {
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
}

.unit-card-item {
  display: block;
  margin: 2px;
  padding-left: 5px;
}

.log-entry-info {
  background-color: dimgrey;
  color: orange;
  padding: 3px 5px;
  margin: 3px;
  font-family: monospace;
  border-radius: 5px;
  border: 2px solid orange;
}

.log-entry-warn {
  background-color: dimgrey;
  color: yellow;
  padding: 3px 5px;
  margin: 3px;
  font-family: monospace;
  border-radius: 5px;
  border: 2px solid yellow;
}

.log-entry-action {
  background-color: dimgrey;
  color: cyan;
  padding: 3px 5px;
  margin: 3px;
  font-family: monospace;
  border-radius: 5px;
  border: 2px solid cyan;
}

.log-entry-important {
  background-color: dimgrey;
  color: salmon;
  padding: 3px 5px;
  margin: 3px;
  font-family: monospace;
  border-radius: 5px;
  border: 2px solid salmon;
}

.log-entry-purple {
  background-color: dimgrey;
  color: plum;
  padding: 3px 5px;
  margin: 3px;
  font-family: monospace;
  border-radius: 5px;
  border: 2px solid plum;
}

.log-entry-green {
  background-color: dimgrey;
  color: limegreen;
  padding: 3px 5px;
  margin: 3px;
  font-family: monospace;
  border-radius: 5px;
  border: 2px solid limegreen;
}

.log-entry-hover:hover {
  background-color: #454545;
}

.result-turn-block {
  border: 2px solid darkslategrey;
  padding: 10px;
  margin: 5px 10px;
  border-radius: 10px;
  background-color: grey;
}

.result-turn-title {
  padding: 10px;
  font-size: 16pt;
  font-variant: small-caps;
  font-weight: bold;
}

.results-table {
  display: table;
  padding: 0px;
  margin: 5px;
  border-collapse: collapse;
  border: 2px solid orange;
  background-color: dimgrey;
}

.results-table tr,td {
  border-collapse: collapse;
  border: 1px solid orange;
  text-align: center;
  padding: 5px;
  color: orange;
}

.results-table .results-table-head {
  font-variant: small-caps;
  background-color: #454545;
}

.results-table tr:hover {
  background-color: #454545;
}

.results-field {
  display: inline;
  border: 2px solid orange;
  color: orange;
  border-radius: 10px;
}

.results-field2 {
  border: 2px solid orange;
  color: orange;
  margin: 5px;
  border-radius: 10px;
}
