body {
  background-color: dimgrey;
}

container {
  padding: 0px;
  margin: 0px;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: dimgrey;
  border: 2px solid orange;
}

.container {
  display: grid;
  grid-template-columns: 400px auto 400px;
  grid-template-rows: 75px 600px;
  column-gap: 5px;
  row-gap: 0px;
}

.title {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 5px;
  background-color: darkgrey;
  align-self: center;
}

.title > span {
  padding-left: 10px;
  font-size: 14pt;
}

.menu {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: darkgrey;
}

.content {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: darkgrey;
}

.output {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: darkgrey;
}

.fleet-input > button {
  display: block;
  margin: 5px 0px;
}

.fleet-input > textarea {
  display: block;
  margin: 2px 0px;
  width: 100%;
  height: 100px;
}

.mobius-btn {
  border: 2px solid orange;
  color: orange;
  background-color: dimgrey;
  padding: 8px;
  border-radius: 5px 10px;
}

.mobius-btn:hover {
  background-color: #454545;
}

.mobius-btn:focus {
  background-color: darkslategrey;
}

.mobius-btn:active {
  background-color: slategrey;
}

.mobius-tarea {
  background-color: dimgrey;
  color: orange;
  padding: 8px;
  border: 2px solid orange;
  border-radius: 10px;
}

.mobius-tarea:hover {
  background-color: #454545;
}

.mobius-tarea:focus {
  background-color: darkslategrey;
}

.unit-list {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.unit-card {
  border: 2px solid orange;
  background-color: dimgrey;
  width: 200px;
  height: 200px;
  padding: 10px 20px;
  border-radius: 15px 30px;
  margin-right: 10px;
}

.unit-card-name {
  font-size: 14pt;
  color: orange;
}

.unit-card-info {
  font-size: 12pt;
  color: orange;
  margin: 2px;
}

.unit-card-components {
  list-style-type: none;
  margin: 0;
  margin-left: 10px;
  padding: 0;
}

.unit-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.unit-card-item {
  display: block;
  margin: 2px;
  padding-left: 5px;
}

.log-entry-info {
  background-color: dimgrey;
  color: orange;
  padding: 3px 5px;
  margin: 3px;
  font-family: monospace;
  border-radius: 5px;
  border: 2px solid orange;
}

.log-entry-warn {
  background-color: dimgrey;
  color: yellow;
  padding: 3px 5px;
  margin: 3px;
  font-family: monospace;
  border-radius: 5px;
  border: 2px solid yellow;
}

.log-entry-action {
  background-color: dimgrey;
  color: cyan;
  padding: 3px 5px;
  margin: 3px;
  font-family: monospace;
  border-radius: 5px;
  border: 2px solid cyan;
}

.log-entry-important {
  background-color: dimgrey;
  color: red;
  padding: 3px 5px;
  margin: 3px;
  font-family: monospace;
  border-radius: 5px;
  border: 2px solid red;
}

.log-entry-purple {
  background-color: dimgrey;
  color: plum;
  padding: 3px 5px;
  margin: 3px;
  font-family: monospace;
  border-radius: 5px;
  border: 2px solid plum;
}

.log-entry-green {
  background-color: dimgrey;
  color: limegreen;
  padding: 3px 5px;
  margin: 3px;
  font-family: monospace;
  border-radius: 5px;
  border: 2px solid limegreen;
}

.log-entry-hover:hover {
  background-color: #454545;
}
