body {
  background-color: dimgrey;
}

container {
  padding: 0px;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 400px auto 400px;
  grid-template-rows: 75px 600px;
  column-gap: 5px;
  row-gap: 0px;
}

.title {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  border: 2px solid black;
  padding: 10px 5px;
  background-color: darkgrey;
  align-self: center;
}

.title > span {
  padding-left: 10px;
  font-size: 14pt;
}

.menu {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  border: 2px solid black;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: darkgrey;
}

.content {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  border: 2px solid black;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: darkgrey;
}

.output {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  border: 2px solid black;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: darkgrey;
}

.unit-list {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.unit-card {
  border: 2px solid orange;
  background-color: dimgrey;
  width: 100px;
  padding: 15px 25px;
  border-radius: 15px 30px;
  margin-right: 10px;
}

.unit-card-name {
  font-size: 14pt;
  color: orange;
}

.unit-card-info {
  font-size: 12pt;
  color: orange;
}

.unit-card-components {
  list-style-type: none;
  margin: 0;
  margin-left: 10px;
  padding: 0;
}

.log-entry-info {
  background-color: dimgrey;
  color: orange;
  padding: 2px 5px;
  margin: 2px;
  font-family: monospace;
  border-radius: 3px;
  border: 1px solid orange;
}

.log-entry-warn {
  background-color: dimgrey;
  color: yellow;
  padding: 2px 5px;
  margin: 2px;
  font-family: monospace;
  border-radius: 3px;
  border: 1px solid yellow;
}

.log-entry-action {
  background-color: dimgrey;
  color: cyan;
  padding: 2px 5px;
  margin: 2px;
  font-family: monospace;
  border-radius: 3px;
  border: 1px solid cyan;
}

.log-entry-important {
  background-color: dimgrey;
  color: red;
  padding: 2px 5px;
  margin: 2px;
  font-family: monospace;
  border-radius: 3px;
  border: 1px solid red;
}

.log-entry-purple {
  background-color: dimgrey;
  color: plum;
  padding: 2px 5px;
  margin: 2px;
  font-family: monospace;
  border-radius: 3px;
  border: 1px solid plum;
}

.log-entry-green {
  background-color: dimgrey;
  color: limegreen;
  padding: 2px 5px;
  margin: 2px;
  font-family: monospace;
  border-radius: 3px;
  border: 1px solid limegreen;
}
