<div>
  <fieldset>
    <legend>Blue Team</legend>
    <table class="results-table">
      <tr><td>Unit</td><td>Bm</td><td>Sh</td><td>Tp</td><td>Hl</td></tr>
      <tr ng-repeat="unit in $ctrl.state.groups.blue.units" ng->
        <td>{{unit.info.name}}</td>
        <td>{{unit.state.stats.beam}}</td>
        <td>{{unit.state.stats.shield}}</td>
        <td>{{unit.state.stats.torp}}</td>
        <td>{{unit.state.stats.hull}}</td>
      </tr>
    </table>
  </fieldset>
  <fieldset>
    <legend>Red Team</legend>
    <table class="results-table">
      <tr><td>Unit</td><td>Bm</td><td>Sh</td><td>Tp</td><td>Hl</td></tr>
      <tr ng-repeat="unit in $ctrl.state.groups.red.units" ng->
        <td>{{unit.info.name}}</td>
        <td>{{unit.state.stats.beam}}</td>
        <td>{{unit.state.stats.shield}}</td>
        <td>{{unit.state.stats.torp}}</td>
        <td>{{unit.state.stats.hull}}</td>
      </tr>
    </table>
  </fieldset>
</div>
